/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-dark .header__rec-indicator {
  display: block;
}

.theme-dark .page {
  --accent-color: #ff0070;
  --link-color: #ff0070;
  --button-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --header-title-color: #db00ff;
  --section-title-color: #ff0070;
  --title-color: #000028;
  --text-color: #f1b2ce;
  --main-padding: 10px;
  --button-hover-border: rgb(255 0 112 / 0.4);
  --vertical-padding: 45px;
  --background-color: #000028;
}

@media (width >= 768px) {

  .theme-dark .page {
    --main-padding: 20px;
    --vertical-padding: 60px;
  }
}
