.page {
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: grid;
  height: 100vh;
  min-height: 668px;
  grid-template-rows: min-content 1fr min-content min-content;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: end;
  padding: var(--main-padding);
}

.header__theme-menu {
  margin-top: 52px;
  grid-row: 2;
  padding: var(--main-padding);
  padding-right: 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  text-transform: lowercase;
  height: 26px;
  padding: 1.5px 13px;
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--button-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  transition:
    border 0.3s ease,
    color 0.3s ease;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-border);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__rec-indicator {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  padding: var(--main-padding);
}

.header__rec-indicator::before {
  content: 'REC';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--accent-color);
}

.header__rec-indicator::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 9px 3px 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone {
  padding: var(--main-padding);
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  width: 25px;
  height: 25px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  margin-top: var(--main-padding);
  margin-right: var(--main-padding);
  border-color: var(--button-color);
}

.decorated-zone::after {
  content: '';

  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 0;
  width: 25px;
  height: 25px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: var(--button-color);
  margin-left: var(--main-padding);
}

.header__title {
  margin-top: 60px;
  font-weight: 700;
  line-height: 83%;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: 'IBM Plex Mono', monospace;
  grid-row: 3;
  grid-column: 1;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__subtitle {
  align-self: start;
  margin-bottom: 265px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  grid-row: 4;
  margin-block-start: 55px;
  width: 100%;
  max-width: 355px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
}

.content {
  padding: var(--vertical-padding) var(--main-padding);
  margin-top: 20px;
  padding-bottom: 0;
}

.section,
.what__articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery {
  gap: 10px;
}

.section__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-top: 50px;
  color: var(--section-title-color);
}

.why .section__title {
  margin-top: -25px;
}

.article,
.tips-list__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__title {
  max-width: 100%;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.why .article:first-of-type .article__title {
  margin-top: 0;
}

.article__text {
  font-weight: 400;
  max-width: 100%;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
}

.link-decor {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-color);
  transition:
    border-bottom 0.3s ease,
    text-shadow 0.3s ease;
}

.link-decor:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--text-color);
}

.link-decor:focus {
  border: none;
}

.link-decor:focus-visible {
  outline: 1px solid var(--text-color);
}

.tips-list .article__title {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.tips-list .article__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}

.gallery__grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.gallery .section__title {
  color: var(--title-color);
}

.gallery__item {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.gallery__item:hover {
  transform: scale(1.02);
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--main-padding);
  margin-top: 40px;
}

.footer__title {
  font-weight: 700;
  margin: 0;
  line-height: 83%;
  color: var(--header-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: 'IBM Plex Mono', monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --main-padding: 20px;
    --vertical-padding: 60px;
    --sections-gap: 80px;
  }

  .header {
    justify-items: start;
    grid-template-columns: max-content 1fr;
    row-gap: 132px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: calc(var(--main-padding) * -1);
    margin-top: 20px;
  }

  .header__theme-menu {
    grid-column: 2;
    justify-self: end;
    margin-right: 0;
    margin-left: auto;
    margin-top: 20px;
  }

  .header__subtitle {
    grid-column: 1 / 2;
    margin-top: 30px;
    margin-left: 66%;
    max-width: 364px;
  }

  .header.decorated-zone::after {
    margin-bottom: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: var(--sections-gap);
  }

  .why {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 65%;
  }

  .section__title {
    grid-column: 1;
    margin: 0;
  }

  .why .article:first-of-type .article__title {
    margin-top: -25px;
  }

  .what {
    display: grid;
    grid-template-rows: min-content 1fr;
    column-gap: 20px;
  }

  .why .article {
    grid-column: 2;
  }

  .what .section__title {
    max-width: 236px;
  }

  .how {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 65%;
  }

  .tips__title {
    margin-top: 0;
    max-height: fit-content;
  }

  .tips-list .article__title {
    margin-top: 0;
  }

  .tips-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .tips-list__item {
    margin-bottom: 20px;
  }

  .gallery {
    margin-left: 0;
    margin-top: -20px;
    gap: 0;
  }

  .gallery__grid {
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery__item {
    height: 100%;
    object-fit: cover;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    margin-top: 60px;
  }

  .footer__title {
    margin-top: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer.decorated-zone::after {
    inset-inline-start: 0;
    inset-block-end: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-row: 1;
    grid-column: 1 / -1;
    justify-self: center;
    margin: 0;
    padding-top: 0;
    padding-right: var(--main-padding);
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-top: -10px;
  }

  .header__subtitle {
    margin-left: 67%;
    max-width: 491px;
    margin-top: -20px;
  }

  .header.decorated-zone::after {
    margin-bottom: 10px;
  }

  .content {
    margin-top: 0;
  }

  .why .section__title {
    margin-top: 0;
  }

  .what .section__title {
    max-width: 300px;
  }

  .what .article__title {
    min-width: 0;
  }

  .why .article:first-of-type .article__title {
    margin-top: 0;
  }

  .what__articles {
    display: grid;
    max-width: 100%;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .why,
  .how {
    grid-template-columns: 1fr 66%;
  }

  .footer {
    max-height: 100vh;
  }
}

@media (height <= 868px) and (769px <= width <= 1023px) {
  .header {
    min-height: 868px;
    grid-template-columns: 1fr;
  }

  .header__subtitle {
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }

  .header__title {
    margin-top: 40px;
  }
}
